<!DOCTYPE html>
<html>

<head>
    <title>Grocery List</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta http-equiv="content-style-type" content="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Curtis Yungen">
    <meta name="description" content="A simple recipe search and grocery list generator.">
    <meta name="keywords" content="Curtis Yungen, Grocery List, Javascript, Recipe, Yummly, API">

    <!-- Google Sign-in Client ID -->
    <meta name="google-signin-client_id"
        content="652830140760-dsctgrl977qamnp3q9auc63dr6oiqte7.apps.googleusercontent.com">

    <!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/recipeDetails.css">
    <link rel="stylesheet" type="text/css" href="/css/recipeList.css">
    <link rel="stylesheet" type="text/css" href="/css/groceryList.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/css/media-queries.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Google Sign-In Javascript -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- jQuery -->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
</head>

<body>
    {{{body}}}
</body>

</html>