<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!-- Title -->
            <a class="navbar-brand" href="#" id="siteTitle">Recipe Search</a>

            <!-- Hamburger Menu -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <a id="signOutBtn" class="button is-primary is-inverted" href="#" onclick="signOut();">
                <span>Sign Out</span>
            </a>
        </nav>

    </header>

    <!-- Background Container -->
    <div id="backgroundContainer"></div>

    <!-- Filters Modal -->
    <div id="filtersModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Search Filters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <!-- Number of Results -->
                    <select class="select" id="numResults" value="15">
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                    <!-- Cuisine -->
                    <select class="select" id="cuisine" value="">
                        <option value="">Any Cuisine</option>
                        <option value="american">American</option>
                        <option value="asian">Asian</option>
                        <option value="barbecue">Barbecue</option>
                        <option value="chinese">Chinese</option>
                        <option value="greek">Greek</option>
                        <option value="hawaiian">Hawaiian</option>
                        <option value="indian">Indian</option>
                        <option value="italian">Italian</option>
                        <option value="japanese">Japanese</option>
                        <option value="mexican">Mexican</option>
                        <option value="thai">Thai</option>
                        <option value="vietnamese">Vietnamese</option>
                    </select>

                    <!-- Diet -->
                    <select class="select" id="diet" value="">
                        <option value="">Any Diet</option>
                        <option value="386^Vegan">Vegan</option>
                        <option value="387^Lacto-ovo vegetarian">Vegetarian</option>
                        <option value="390^Pescetarian">Pescetarian</option>
                        <option value="389^Ovo vegetarian">Ovo Vegetarian</option>
                        <option value="388^Lacto vegetarian">Lacto Vegetarian</option>
                    </select>

                    <!-- Allergy -->
                    <select class="select" id="allergy" value="">
                        <option value="">No Allergy</option>
                        <option value="396^Dairy-Free">Dairy</option>
                        <option value="397^Egg-Free">Egg</option>
                        <option value="393^Gluten-Free">Gluten</option>
                        <option value="394^Peanut-Free">Peanut</option>
                        <option value="398^Seafood-Free">Seafood</option>
                        <option value="399^Sesame-Free">Sesame</option>
                        <option value="400^Soy-Free">Soy</option>
                        <option value="395^Tree Nut-Free">Tree Nut</option>
                        <option value="392^Wheat-Free">Wheat</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="setFilter" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Container -->

    <div class="container" id="contentContainer">

        <!-- Search Input Box -->
        <div class="row" id="searchRow"> 
            <form class="form-inline my-2 my-lg-0" id="searchForm">

                <input class="form-control mr-sm-2" id="searchInputBox" type="search" placeholder="Search for a Recipe"
                    aria-label="Search" autocomplete="off">
                <button class="btn btn-success my-2 my-sm-0" type="submit" id="searchBtn">Search</button>

                <!-- Buttons -->
                <div id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">

                        <!-- Filters -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#filtersModal"
                                id="filterBtn">Filters</a>
                        </li>

                    </ul>

                </div>
            </form>
        </div>

        <div class="row" id="contentRow">

            <!-- Grocery List -->
            <div class="col-lg-3" id="groceryList">
                <h4 id="groceryListTitle">Favorites</h4>
            </div>

            <!-- Search Results -->
            <div class="col-lg-5" id="recipeList"></div>

            <!-- Recipe Detail View -->
            <div class="col-lg-3" id="recipeDetail"></div>

        </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/groceryList.js"></script>
    <script src="/javascript/viewRecipeDetails.js"></script>
    <script src="/javascript/searchRecipe.js"></script>
    <script src="/javascript/makeThisRecipe.js"></script>
    <script src="/javascript/app.js"></script>

</body>