<body>
    <div class="jumbotron" id="loginPageContent">
        <h4 id="loginTitle">RECIPE FINDER</h4>
        <div class="g-signin2" data-onsuccess="onSignIn" id="signIn"></div>       
    </div>

    <script type="text/javascript" src="/javascript/login.js"></script>
</body>