<body id="backgroundContainer">

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Recipe Finder!</h1>
        <p class="lead">Search for and save your favorite recipes.</p>
        <hr class="my-4">
        <p>Sign in below using your Gmail account.</p>
        <p class="lead">
            <div class="g-signin2" data-onsuccess="onSignIn" id="signIn"></div>
        </p>
    </div>

    <script type="text/javascript" src="/javascript/login.js"></script>
</body>