/* RECIPE DETAIL VIEW */

.checked {
color: gold;
}

.detail {
clear: both;
font-size: 12px;
padding: 5px;
}

.fa fa-star {
margin: 0px 3px 0px 3px;
padding: 5px;
}

.deleteBtn {
float: right;
}

.viewRecipeBtn {
float: right;
margin-right: 5px;
}

.makeThisRecipeBtn {
cursor: pointer;
margin-top: -20px;
position: absolute;
right: 20px;
}

.recipeDetail {
opacity: 0;
}

.recipeDetailImg {
border: 1px solid #666666;
margin: 5px auto 5px auto;
width: 100%;
}

.recipeDetail h4 {
font-size: 24px;
font-weight: 700;
margin-top: 10px;
}

.source {
color: blue;
font-size: 16px;
margin-top: -10px;
text-align: center;
text-decoration: underline;
}

.title {
border-bottom: 1px dashed #555555;
}

#detailTitle {
text-align: center;
}

#perServing {
color: gray;
font-size: 14px;
margin-top: 15px;
}

#recipeDetail {
background: white;
border: 1px solid darkgray;
height: 80vh;
margin: 10px;
opacity: 0;
overflow-y: scroll;
padding: 20px;
text-align: left;
z-index: 99;
}

#source {
border: 0;
height: 100%;
text-align: center;
width: 100%;
}

#sourceDiv {
text-align: center;
width: 100%;
}