/* GROCERY LIST */

#groceryList {
    background: lightyellow;
    border: 1px solid darkgray;
    display: inline-block;
    height: 90vh;
    opacity: 0.9;
    overflow-y: scroll;
    z-index: 99;
}

#groceryListTitle {
    border-bottom: 1px solid lightgray;
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    margin: 10px;
}

.ingrList {
    /* background: rgb(248, 248, 248); */
    border: 1px solid darkgray;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Patrick Hand', cursive;
    font-size: 16px;
    line-height: 20px;
    height: 50px;
    margin-bottom: 5px;
    padding: 20px 5px;
}

.ingrList h4 {
    font-size: 16px;
    margin-top: -10px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ingrListText {
    display: none;
    max-height: 300px;
    opacity: 0;
    overflow-y: scroll;
}

.showHideBtn {
    margin-top: -12px;
    position: absolute;
    right: 25px;
}