/* BOOTSTRAP ELEMENTS */

.container {
    margin-left: auto;
    margin-right: auto;
}

.col-lg-6 {
    max-width: 100%;
}

.col-lg-3,
.col-lg-4, 
.col-lg-6, 
.col-lg-12,
.row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    width: 100%;
}

/* HTML ELEMENTS */

button {
    border: 1px solid #cfcfcf;
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 12px;
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
}

select {
    font-size: 14px;
    height: 30px;
}

span {
    float: left;
    max-width: 75%;
}

::-webkit-scrollbar { 
    display: none; 
}

/* INDEX.HTML */

/* Fade in Background Image */
/* @-webkit-keyframes fade-in {
0%   { opacity: 0; }
100% { opacity: 1; }
} */

#backgroundContainer {
    background: url("../images/leaves.jpg");
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    margin: 0px;
    opacity: 1;
    /* opacity: 0; */
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    /* -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 1.5s; */
}

#backgroundContainer.visible {
    opacity: 1;
}

#contentContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

/* NAVBAR */

.navbar {
    z-index: 99;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
}

#searchForm {
    margin-left: auto;
    margin-right: auto;
}

#searchInputBox {
    /* margin-left: 300px;
    width: 400px; */
    /* width: 600px; */
}





