/* BOOTSTRAP ELEMENTS */

.container {
margin-left: auto;
margin-right: auto;
}

.col-lg-6 {
max-width: 100%;
}

.col-lg-3,
.col-lg-6, 
.col-lg-12,
.row {
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}

.row {
width: 100%;
}

/* HTML ELEMENTS */

button {
border: 1px solid #cfcfcf;
float: left;
font-size: 14px;
height: auto;
line-height: 12px;
margin: 5px;
margin-top: 0px;
padding: 5px;
}

select {
font-size: 14px;
height: 30px;
}

span {
float: left;
max-width: 75%;
}

::-webkit-scrollbar { 
display: none; 
}

/* INDEX.HTML */

#filterBtn {
float: right;
}

/* #footer {
background: rgb(32, 32, 32);
bottom: 0;
color: white;
font-size: 16px;
height: 50px;
left: 0;
line-height: 16px;
padding: 10px;
position: absolute;
text-align: center;
width: 100%;
} */

/* Fade in Background Image */
@-webkit-keyframes fade-in {
0%   { opacity: 0; }
100% { opacity: 1; }
}

#backgroundContainer {
background: url("../images/leaves.jpg");
background-repeat: no-repeat;
bottom: 0;
left: 0;
margin: 0px;
opacity: 0;
padding: 0px;
position: absolute;
right: 0;
top: 0;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

-webkit-animation-name: fade-in;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: ease-in;
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 1.5s;
}

#backgroundContainer.visible {
opacity: 1;
}

/* SEARCH BOX */

#filterBtn,
#searchBtn,
#viewList {
float: right;
height: 25;
padding: 3px 10px;
width: 100px;
}

#searchBox {
background: rgb(230, 230, 230);
border: 1px solid black;
border-radius: 5px;
height: 35px;
margin-left: 30px;
margin-right: 1px;
padding: 0px 8px;
width: 380px;
}

#searchForm {
margin-bottom: 20px;
}

#viewList {
margin-right: 80px;
}






